# Bundler cache
.bundle
vendor
Gemfile.lock

# excalidraw.md 
*.excalidraw.md

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc

_posts/Drawing 2024-08-26 19.34.29.excalidraw.md
_posts/Drawing 2024-08-26 19.34.29.excalidraw.md
_posts/Drawing 2024-08-26 19.34.29.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md
_posts/Drawing 2024-08-27 10.03.56.excalidraw.md